alias e="exit"
alias c="clear"
alias o="xdg-open"
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."

# pacman
alias paci="sudo pacman -S --noconfirm" # pacman install
alias pacs="sudo pacman -Ss" # pacman search
alias pacr="sudo pacman -Rns" # pacman remove

# basic git usage
alias gs="git status"
alias gc="git commit -m"
alias gpush="git push origin master"
alias gd="git diff"

# make dir and cd into it
mkcd () {
	[ -n "$1" ] && mkdir -p $1 && builtin cd $1
}

# Misc.
alias sudo="sudo -E"

# virtual envs
alias ml="source activate machine_learning"
alias sd="source deactivate"
